[submodule "src/main/resources/lodestone-css-selectors"]
	path = src/main/resources/lodestone-css-selectors
	url = https://github.com/drakon64/lodestone-css-selectors.git
	branch = fix-stain-selectors
